{{define "base.html"}}
<!DOCTYPE html>
<html>
<head>
    <title>{{.PageTitle}} - My Social Network</title>
    <link rel="stylesheet" href="/css/shared.css">
</head>
<body>
    <div class="layout">
        {{template "header" .}}
        
        <div class="content-wrapper">
            {{template "navigation" .}}
            
            <div class="main-content">
                <div class="container">
                    {{template "content" .}}
                </div>
            </div>
        </div>
    </div>

    {{template "modals" .}}

    <script src="/js/shared.js"></script>
    {{if .PageScript}}
    <script>
        {{.PageScript}}
    </script>
    {{end}}
</body>
</html>
{{end}}